body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}



.todo-app {
 margin: 1.5rem;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: lightslategrey;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: lightslategrey;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightblue;
  color: white;
}

.topnav span {
    font-size: 2rem;
    margin-left: 3rem;
    color: white;
}

.app-header {
    background: #214;
    color: white;
    width: 400px;
    line-height: 2;
    border-radius: 10px;
    font-size: 1.2rem;
}

.app-header b {
    color: lightblue;
}

.app-header p {
    margin-bottom: -0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
}

.todo-comp-container {
    overflow: visible;
    max-height: 100%;
}

.todo-comp {
    background: #eee;
    /* width: 400px; */
    border-radius: 10px;
    overflow: visible;
    padding-top: 0.5rem;
    max-width: 100%;
    max-height: 100%;
}

/** add todo **/
.add-todo {
  margin-left: 0.5rem;
}

.add-list {
    margin-left: 0.5rem;
}
/** todo list **/
.todo-list {
    margin-top: 1rem;
    margin-left: 1rem;
  text-align: left;
  list-style: none;
}

/** todo item **/
.todo-item {
  font-family: monospace;
  line-height: 1.5;
  display: block;
}

span.todo-item__text {
    background: -webkit-gradient(linear,left top,right top,from(#fce4ed),to(#ffe8cc));
    display: inline-block;
    cursor: pointer;
}

.todo-item__text--completed {
  text-decoration: line-through;
  color: gray;
  cursor: pointer;
}

/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}
.filter--active {
  border-bottom: 3px solid black;
}

span.remove-todo {
    cursor: pointer;
}

span.remove-todo:hover {
    color: red;
}

span.remove-list {
    cursor: pointer;
    text-align: right;
    font-size: 1rem;
    font-style: italic;
    color: gray;
}

span.remove-list:hover {
    color: red;
}

input.rename-list {
    font-size: 1.4rem;
    font-style: italic;
    margin: 1rem;
    padding: 1 rem;
}
span.list-title {
    margin: 1rem;
}

